@charset "utf-8";
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: inherit;
}

footer {
    width: 100vw;
    height: 10vh;
    background: #2C2A29;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

nav>ul {
    width: 1200px;
    display: flex;
    align-items: center;
    color: white;
    font-size: 12px;
    justify-content: space-evenly;
}

nav>ul>li:hover {
    text-decoration: underline;
}