.banner .swiper-container {
    height: 830px;
    overflow: hidden;
}
.banner .swiper-container .swiper-slide {
    position: relative;
    color: #fff;
    text-align: center;
    font-size: 40px;
    line-height: 1.6;
    transition: left 0.6s;
}
.banner .swiper-container .swiper-slide p {
    position: absolute;
    left: 50%;
    top: 200px;
    transform: translateX(-50%);
}
.banner .swiper-container .swiper-slide img {
    position: absolute;
    height: 80vh;
    margin: 0 auto;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.banner .swiper-container .swiper-slide.slide1 {
    left: 0;
}

.banner .swiper-container .swiper-slide.slide2 {
    left: 100%;
}

.banner .swiper-container .swiper-slide.slide3 {
    left: 200%;
}

.banner .swiper-container .swiper-button-white {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    font-size: 2rem;
    cursor: pointer;
    padding: 20px;
}

.banner .swiper-container .swiper-button-prev {
    left: 120px;
}
.banner .swiper-container .swiper-button-next {
    right: 120px;
}