header .container {
    position: relative;
    height: 10vh;
    text-align: center;
    border-bottom: 1px solid #ccc;
}
header .container .logo a {
    position: absolute;
    left: 0;
    top: 3vh;
    display: block;
    width: 176px;
    height: 36px;
    margin-left: 30px;
    background-image: url(/public/samsung_img/logo.png);
    text-indent: -9999px;
}
header .gnb > ul > li {
    display: inline-block;
    padding: 0 40px;
}
header .gnb > ul > li:hover > a {
    border-bottom: 3px solid #043285;
}
header .gnb > ul > li > a {
    display: inline-block;
    height: 10vh;
    line-height: 10vh;
    font-size: 18px;
    font-weight: 600;
}
header .gnb > ul > li > a:hover {
    border-bottom: 3px solid #043285;
}
header .gnb > ul > li > a:hover + .gnb_inner {
    display: block;
}
header .gnb .gnb_inner {
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    background-color: #ececec;
    z-index: 2;
    display: none;
}
header .gnb .gnb_inner:hover {
    display: block;
}
header .gnb .gnb_inner .depth1_list {
    width: 660px;
    margin: 0 auto;
    text-align: left;
    padding: 40px 0;
}
header .gnb .gnb_inner .depth1_list > li {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin-left: 60px;
    padding-left: 60px;
    height: 100%;
}
header .gnb .gnb_inner .depth1_list > li:first-child {
    margin-left: 0;
    padding-left: 0;
}
header .gnb .gnb_inner .depth1_list > li:first-child:before {
    display: none;
}
header .gnb .gnb_inner .depth1_list > li:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 1px;
    background-color: #ccc;
}
header .gnb .gnb_inner .depth1_list > li > a {
    display: block;
    color: #1428a0;
    font-weight: bold;
    margin-bottom: 24px;
    font-size: 18px;
}
header .gnb .gnb_inner .depth1_list .depth2_list_div {
    float: left;
    margin-right: 40px;
}
header .gnb .gnb_inner .depth1_list .depth2_list li {
    margin-bottom: 20px;
    color: #333;
}
header .util-area {
    position: absolute;
    right: 0;
    top: 0;
    height: 70px;
}
header .util-area .util-inner {
    position: relative;
    float: left;
}
header .util-area .util-inner > a {
    position: relative;
    display: block;
    height: 10vh;
    line-height: 10vh;
    padding: 0 20px;
    font-size: 12px;
    font-weight: bold;
}
header .util-area .util-inner.lang > a:after {
    position: absolute;
    left: 0;
    top: 50%;
    content: '';
    display: block;
    width: 1px;
    height: 10px;
    background-color: #ddd;
}
header .util-area .search {
    position: relative;
    width: 60px;
    height: 10vh;
    background-color: #043385;
    color: white;
    font-size: 20px;
}
header .util-area .search i {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-40%, -40%);
}

header .util-area .util-sns li {
    padding: 10px 0;
}
header .util-area .util-sns a {
    display: block;
    width: 30px;
    height: 30px;
    margin: 0 auto;
    text-indent: -99999px;
    background-image: url(/public/samsung_img/icon_social.png);
    background-color: #ededed;
    border-radius: 50%;
}

header .util-area .util-sns .youtube a {
    background-position: -30px 0;
}
header .util-area .util-sns .blog a {
    background-position: -60px 0;
}
header .util-area .util-sns .linkedin a {
    background-position: -120px 0;
}
header .util-area .util-lang li {
    padding: 10px 0;
}
header .util-area .util-lang a {
    display: block;
    margin: 0 auto;
    font-size: 12px;
    color: #333;
}